<desktop-navigation>
  <ul class="header__linklist list--unstyled {% unless bottom_navigation %}hidden-pocket hidden-lap{% endunless %}" role="list">
    {%- for link in menu.links -%}
      {%- assign link_title_downcase = link.title | strip | downcase -%}
      {%- assign mega_menu_block = '' -%}
      {%- assign mega_menu_images = '' -%}

      {%- for block in section.blocks -%}
        {%- assign menu_item_downcase = block.settings.menu_item | strip | downcase -%}

        {%- if menu_item_downcase == link_title_downcase -%}
          {%- assign mega_menu_block = block -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}

      <li class="header__linklist-item {% if link.links.size > 0 or mega_menu_block != '' %}has-dropdown{% endif %}" data-item-title="{{ link.title | escape }}">
        <a class="header__linklist-link link--animated" href="{{ link.url }}" {% if link.links.size > 0 or mega_menu_block != '' %}aria-controls="desktop-menu-{{ forloop.index }}" aria-expanded="false"{% endif %}>
          <span>{{- link.title -}}</span>
          {% if link.links.size > 0 or mega_menu_block != '' %}
            <span class="chevron">
              {% render 'chevron-down' %}
            </span>
          {% endif %}
        </a>

        {%- if mega_menu_block != '' -%}
          {%- assign images_count = 0 -%}

          {%- capture mega_menu_images -%}
            {%- for i in (1..6) -%}
              {%- capture image_setting -%}image_{{ i }}{%- endcapture -%}

              {%- if mega_menu_block.settings[image_setting] != blank -%}
                {%- assign images_count = images_count | plus: 1 -%}

                {%- capture image_heading_setting -%}image_{{ i }}_heading{%- endcapture -%}
                {%- capture image_text_setting -%}image_{{ i }}_text{%- endcapture -%}
                {%- capture image_link_setting -%}image_{{ i }}_link{%- endcapture -%}

                {%- capture image_push -%}
                  <div class="mega-menu__image-wrapper">
                    <img class="mega-menu__image" loading="lazy" sizes="240px" {% render 'image-attributes', image: mega_menu_block.settings[image_setting], sizes: '240,480,720' %}>
                  </div>

                  {%- if mega_menu_block.settings[image_heading_setting] != '' -%}
                    <p class="mega-menu__heading heading heading--small">{{ mega_menu_block.settings[image_heading_setting] }}</p>
                  {%- endif -%}

                  {%- if mega_menu_block.settings[image_text_setting] != '' -%}
                    <span class="mega-menu__text">{{ mega_menu_block.settings[image_text_setting] }}</span>
                  {%- endif -%}
                {%- endcapture -%}

                {%- if mega_menu_block.settings[image_link_setting] != blank -%}
                  <a href="{{ mega_menu_block.settings[image_link_setting] }}" class="mega-menu__image-push image-zoom">
                    {{- image_push -}}
                  </a>
                {%- else -%}
                  <div class="mega-menu__image-push image-zoom">
                    {{- image_push -}}
                  </div>
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endcapture -%}

          {%- if link.links.size > 0 or mega_menu_block != '' -%}
            <div hidden id="desktop-menu-{{ forloop.index }}" class="mega-menu" {{ mega_menu_block.shopify_attributes }}>
              <div class="container">
                <div class="mega-menu__inner">
                  <div class="mega-menu__informations">
                    <div class="mega-info__ratings">
                      {% render 'icon-five-star' %}
                      <span>{{ mega_menu_block.settings.reviews_label }}</span>
                    </div>
                    <div class="mega-info__title">{{ mega_menu_block.settings.title }}</div>
                    <div class="mega-info__subtitle">{{ mega_menu_block.settings.subtitle }}</div>
                    <a href="{{ mega_menu_block.settings.btn_link }}" class="mega-info__cta button button--primary">{{ mega_menu_block.settings.btn_text }}</a>
                    <div class="mega-info__shipping">
                      {% render 'icon-shipping-box' %}
                      <span>{{ mega_menu_block.settings.shipping_label }}</span>
                    </div>
                  </div>
                  <div class="mega-menu__collections">
                    {% for i in (1..3) %}
                      <div class="mega-collection_item">
                        {% assign image_handle = 'featured_col_image' | append: i %}
                        {% assign col_image = mega_menu_block.settings[image_handle] %}
                        {% if col_image %}
                          <div class="mega-col__image">
                            {%- assign mobile_size = 370 | times: col_image.aspect_ratio | ceil -%}
                            {%- assign tablet_size = 520 | times: col_image.aspect_ratio | ceil -%}
                            {%- assign desktop_size = 600 | times: col_image.aspect_ratio | ceil -%}

                            <img loading="lazy" sizes="(max-width: 740px) {{ mobile_size }}px, (max-width: 999px) {{ tablet_size }}px, {{ desktop_size }}px" class="" {% render 'image-attributes', image: col_image, sizes: '300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000' %}>
                          </div>
                        {% endif %}
                        <div class="mega-col__info">
                          {% assign title_handle = 'featured_col_title' | append: i %}
                          <div class="mega-col__title">{{ mega_menu_block.settings[title_handle] }}</div>
                          {% assign subtitle_handle = 'featrued_col_subtitle' | append: i %}
                          <div class="mega-col__subtitle">{{ mega_menu_block.settings[subtitle_handle] }}</div>
                          {% assign link_handle = 'featured_col_link' | append: i %}
                          <a class="mega-col__link" href="{{ mega_menu_block.settings[link_handle] }}">View All</a>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  <div class="mega-menu__products">
                    {% for i in (1..2) %}
                      <div class="mega-product__item">
                        {% assign index = 'featured_product' | append: i %}
                        {% assign product_handle = mega_menu_block.settings[index] %}
                        {% if product_handle != '' and product_handle != blank %}
                          {% assign product = all_products[product_handle] %}
                          {%- render 'product-item', product: product, show_cta: false  -%}
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
        {%- elsif link.links.size > 0 -%}
          <ul hidden id="desktop-menu-{{ forloop.index }}" class="nav-dropdown {% if link.levels == 1 %}nav-dropdown--restrict{% endif %} list--unstyled" role="list">
            {%- for sub_link in link.links -%}
              <li class="nav-dropdown__item {% if sub_link.links.size > 0 %}has-dropdown{% endif %}">
                <a class="nav-dropdown__link link--faded" href="{{ sub_link.url }}" {% if sub_link.links.size > 0 %}aria-controls="desktop-menu-{{ forloop.parentloop.index }}-{{ forloop.index }}" aria-expanded="false"{% endif %}>
                  {{- sub_link.title -}}

                  {%- if sub_link.links.size > 0 -%}
                    {% render 'icon' with 'dropdown-arrow-right', direction_aware: true %}
                  {%- endif -%}
                </a>

                {%- if sub_link.links.size > 0 -%}
                  <ul hidden id="desktop-menu-{{ forloop.parentloop.index }}-{{ forloop.index }}" class="nav-dropdown list--unstyled" role="list">
                    {%- for sub_sub_link in sub_link.links -%}
                      <li class="nav-dropdown__item">
                        <a class="nav-dropdown__link link--faded" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</desktop-navigation>